
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #294d2f;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    color: #333;
}

p*laceholder-grey::placeholder {
    color: #999; 
    opacity: 1;   
}